body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#seatsChart h3 {
  font-size: 25px;
  font-weight: bold;
}

#seatsChart button {
  background-color: aqua;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
}